.categories {
    height: 949px;
    padding-top: 111px;
}

.categories__title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 59px;
    text-align: center;
}

.categories__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
