.slider-works {
    position: relative;
}

.slider-works__nav {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.slider-works__item img {
    width: 100%;
}

.slider-works__next,
.slider-works__prev {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    transition: transform 0.3s, color 0.175s;   
}

.slider-works__next:hover,
.slider-works__prev:hover {
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 1);
    transition: transform 0.175s, color 0.175s;
}

.slider-works__next::after,
.slider-works__prev::after {
    font-size: 12px;
    font-weight: 600;
    color: #fff;  
}

.slider-works__next {
    right: -16px;
}

.slider-works__next::after {
    margin-left: 2px;
}

.slider-works__prev {
    left: -16px;
}

.slider-works__prev::after {
    margin-right: 2px;
}