.form {
    width: 1440px;
    height: 632px;
    display: flex;
    align-items: center;
}

.form__title {
    font-style: italic;
    left: 600px;
    top: 80px;
    font-size: 40px;
}

.form__desc {
    color: white;
}